@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
}

body {

  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background: #382992;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loading {
  margin: auto;
}

.App {
  background-color: #252d4a;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
}


.score-seciton {
  display: flex;
  align-items: center;
  font-size: 24px;
}

/* QUESTION/TIMER/LEFT SECTION */
.quiestion-seciton {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}


.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}


/* ON MOBILE SCREEN */
@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .App {

    background-color: #252d4a;
    width: 100%;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
  }

}

/*  LOADER ANIMATION */
@keyframes spin {
  to {
    transform: rotate(.5turn);
  }
}

@keyframes radius {
  50% {
    border-radius: 50%;
  }
}

@keyframes color {
  33% {
    color: orange;
  }

  66% {
    color: deeppink
  }
}

@keyframes width {
  50% {
    border-width: .3em;
  }
}

.loading:before {
  content: '';
  display: block;
  width: 4em;
  height: 4em;
  margin: 0 auto 1rem;
  border: 1.5em solid;
  color: yellowgreen;
  box-sizing: border-box;

  animation: 1s spin, .7s radius, 1.1s color, 1.3s width;

  animation-timing-function: linear;

  animation-iteration-count: infinite;
}